@import url("https://fonts.googleapis.com/css?family=Roboto:300");
/* line 2, ../finalsass/sass/_estructura.scss */
body .hinchada {
  display: flex;
  margin: auto;
  padding: 7px;
}

/* line 9, ../finalsass/sass/_estructura.scss */
body .imgnob2 {
  display: flex;
  margin: left;
  padding: 7px;
}

/* line 17, ../finalsass/sass/_estructura.scss */
body .tienda {
  display: flex;
  padding: 3px;
  margin: auto;
}

/* line 23, ../finalsass/sass/_estructura.scss */
body .card {
  display: flex;
  margin: auto;
}

/* line 27, ../finalsass/sass/_estructura.scss */
body .card-img-top {
  display: flex;
  margin: auto;
}

/* line 31, ../finalsass/sass/_estructura.scss */
body .videosyoutube {
  display: flex;
}

/* line 34, ../finalsass/sass/_estructura.scss */
body .iframe {
  display: flex;
  margin: auto;
  padding: 7px;
}

/* line 39, ../finalsass/sass/_estructura.scss */
body .slider-frame {
  margin: 50px auto 0;
}

/* line 43, ../finalsass/sass/_estructura.scss */
body .slider-frame ul {
  display: flex;
  padding: 0;
}

/* line 48, ../finalsass/sass/_estructura.scss */
body .formunob {
  padding: 1.3em;
  margin: 0 auto;
}

/* line 52, ../finalsass/sass/_estructura.scss */
body .fixture {
  display: flex;
  padding: 3px;
  margin: auto;
}

/* line 58, ../finalsass/sass/_estructura.scss */
body footer {
  display: flex;
  padding: 3px;
}

/* line 64, ../finalsass/sass/_estructura.scss */
body .listalinks {
  display: flex;
}

/* line 67, ../finalsass/sass/_estructura.scss */
body .canob {
  display: flex;
}

/* line 71, ../finalsass/sass/_estructura.scss */
body .lpf {
  display: flex;
}

/* line 77, ../finalsass/sass/_estructura.scss */
body .noticia, body .seccion1 {
  margin: 4px;
}

/* line 1, ../finalsass/sass/_detalles.scss */
.titulo {
  font-family: 'Anton', sans-serif;
  font-weight: 100;
}

/* line 6, ../finalsass/sass/_detalles.scss */
.hinchada {
  border-radius: 20px;
  border: 4px;
  max-width: 100%;
}

/* line 12, ../finalsass/sass/_detalles.scss */
.imgnob2 {
  border-radius: 20px;
  border: 4px;
  max-width: 50%;
}

/* line 20, ../finalsass/sass/_detalles.scss */
.tiendoficial {
  text-align: center;
  align-items: center;
  font-size: 50px;
}

/* line 25, ../finalsass/sass/_detalles.scss */
.tienda {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

/* line 31, ../finalsass/sass/_detalles.scss */
.card {
  align-items: center;
  align-content: center;
}

/* line 35, ../finalsass/sass/_detalles.scss */
.card-img-top {
  align-items: center;
  width: 200px;
}

/* line 39, ../finalsass/sass/_detalles.scss */
.videosyoutube {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 4px;
}

/* line 45, ../finalsass/sass/_detalles.scss */
.videosdestacados {
  font-size: 30px;
}

/* line 49, ../finalsass/sass/_detalles.scss */
.iframe {
  border: 4px;
  max-width: 100%;
}

/* line 54, ../finalsass/sass/_detalles.scss */
.tituloglorias {
  text-align: center;
  align-items: center;
  font-size: 50px;
}

/* line 63, ../finalsass/sass/_detalles.scss */
.slider-frame {
  width: 300px;
  height: auto;
  overflow: hidden;
}

/* line 68, ../finalsass/sass/_detalles.scss */
.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

/* line 76, ../finalsass/sass/_detalles.scss */
.slider-frame li {
  width: 100%;
  list-style: none;
}

/* line 81, ../finalsass/sass/_detalles.scss */
.slider-frame img {
  width: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/* line 99, ../finalsass/sass/_detalles.scss */
.formulario {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* line 106, ../finalsass/sass/_detalles.scss */
.formunob {
  max-width: 25em;
  font-weight: bold;
  box-shadow: inset 1px  1px 22px 4px;
}

/* line 112, ../finalsass/sass/_detalles.scss */
.fixture {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

/* line 121, ../finalsass/sass/_detalles.scss */
footer {
  justify-content: space-around;
  flex-direction: column;
  font-size: 15px;
  font-family: 'Anton', sans-serif;
}

/* line 129, ../finalsass/sass/_detalles.scss */
.leyendapie {
  text-align: center;
}

/* line 134, ../finalsass/sass/_detalles.scss */
.linkspie {
  text-align: center;
}

/* line 139, ../finalsass/sass/_detalles.scss */
.listalinks {
  justify-content: space-evenly;
  flex-direction: row;
}

/* line 145, ../finalsass/sass/_detalles.scss */
.canob {
  align-items: center;
  width: 60px;
}

/* line 151, ../finalsass/sass/_detalles.scss */
.lpf {
  align-items: center;
  width: 60px;
}

/* line 158, ../finalsass/sass/_detalles.scss */
.animacionunite {
  text-align: center;
  color: black;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 32px;
  overflow: hidden;
}

/* line 169, ../finalsass/sass/_detalles.scss */
.divan2 {
  color: white;
}

/* line 175, ../finalsass/sass/_detalles.scss */
.divan {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

/* line 182, ../finalsass/sass/_detalles.scss */
.divan:first-of-type {
  /* For increasing performance 
                           ID/Class should've been used. 
                           For a small demo 
                           it's okaish for now */
  animation: showup 7s infinite;
}

/* line 189, ../finalsass/sass/_detalles.scss */
.divan:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

/* line 194, ../finalsass/sass/_detalles.scss */
.divan:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

/* line 5, ../finalsass/sass/_colores.scss */
body .encabezado {
  background-color: black;
}

/* line 12, ../finalsass/sass/_colores.scss */
body section .titulo {
  color: #d30b0b;
}

/* line 16, ../finalsass/sass/_colores.scss */
body .tiendaoficial {
  background-color: #d30b0b;
}

/* line 19, ../finalsass/sass/_colores.scss */
body .display-2 {
  color: white;
}

/* line 21, ../finalsass/sass/_colores.scss */
body .videosyoutube {
  background-color: black;
}

/* line 24, ../finalsass/sass/_colores.scss */
body .tituloglorias {
  color: white;
}

/* line 27, ../finalsass/sass/_colores.scss */
body .formulario {
  background-image: url("../imagenes/tribuna.jpg");
  color: white;
}

/* line 31, ../finalsass/sass/_colores.scss */
body .formulario .formunob {
  background-color: rgba(120, 119, 123, 0.3);
}

/* line 38, ../finalsass/sass/_colores.scss */
body .fixture {
  color: black;
  background-image: url("../imagenes/jugadores.jpg");
}

/* line 44, ../finalsass/sass/_colores.scss */
body footer {
  background: #d30b0b;
}

/* line 47, ../finalsass/sass/_colores.scss */
body .glorias {
  background: url(../imagenes/fondonob.jpg);
}

/*# sourceMappingURL=estilo.css.map */