body {
    .hinchada { 
     
        display: flex;
        margin: auto;
        padding: 7px;

     }
     .imgnob2 {

        display: flex;
        margin: left;
        padding: 7px;      
      
      }
      
      .tienda {
  
        display: flex;
        padding: 3px;
        margin: auto
      }
      .card { 
        display: flex;
        margin: auto;
      }
      .card-img-top {
        display: flex;
        margin: auto;
      }
      .videosyoutube {
        display: flex;
    }
      .iframe {
        display: flex;
        margin: auto;
        padding: 7px;
      }
      .slider-frame {
       
        margin:50px auto 0;
        }
     .slider-frame ul {
        display: flex;
        padding: 0;
            
        }
    .formunob {
        padding: 1.3em;
        margin: 0 auto;
        }
    .fixture{
  
        display: flex;
        padding: 3px;
        margin: auto
    }     
    footer {

        display: flex;
        padding: 3px;     
        
    }     
    .listalinks { 
        display: flex;
    }
    .canob { 
        display:flex;
    
    }  
    .lpf { 
        
        display:flex;
    
        }  

        .noticia, .seccion1 {
            margin: 4px;    
       }
          



}